<!DOCTYPE html PUBLIC "-//WSC//DTD XHTML 1.0 Transitional //EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <title>修改闲置类别-跳蚤园</title>
    <link rel="shortcut icon" href="/static/images/ssl-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/publish.css">
    <script language="javascript"  src="/static/scripts/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/scripts/validate.js"></script>
    <script type="text/javascript" src="/static/scripts/item_types.js"></script>
    <script type="text/javascript" src="/static/scripts/modify_item_type.js"></script>
</head>
<body>
    <div class="header">
        <a href="/" id="logo">
            <img src="/static/images/logo.jpg" alt="尚书林">
        </a>
        <div class="header-title">修改闲置类别</div>
        <div class="return-home">
            <a href="/">返回首页</a>|<a href="/open-my-center/">返回用户中心</a>
        </div>
    </div>
    <div class="follow-steps">
        <ol>
            <li class="step1 active">
                <i>1</i>
                <strong>选择类别</strong>
                <span></span>
            </li>
            <li class="step2">
                <i>2</i>
                <strong>填写信息</strong>
                <span></span>
            </li>
            <li class="step3">
                <i>3</i>
                <strong>发布成功</strong>
            </li>
        </ol>
    </div>
    <div class="type-box">
        <div class="type-title">选择大类</div>
        {%  if result.ItemId %}
        <div id="itemid" style="display:none">{{result.ItemId}}</div>
        {%  endif %}
        {%  if result.ItemType %}
        <div id="itemType" style="display:none">{{result.ItemType}}</div>
        {%  endif %}
        <ul class="type-ul">     
            <li onclick="selectGroup(1,this)">书籍／笔记</li>
            <li onclick="selectGroup(2,this)">化妆品</li>    
            <li onclick="selectGroup(3,this)">数码</li>
            <li onclick="selectGroup(4,this)">单车／电动车</li>
            <li onclick="selectGroup(5,this)">运动装备</li>
            <li onclick="selectGroup(6,this)">服装</li>
            <li onclick="selectGroup(7,this)">生活用品</li>
            <li onclick="selectGroup(8,this)">手工艺品</li>
            <li onclick="selectGroup(9,this)">其他</li>
        </ul>
    </div>
    <div class="list-box">
        <div class="type-title">选择小类</div>
        <div id="list-inner">
            
        </div>
    </div>
</body>
</html>