<!DOCTYPE html PUBLIC "-//WSC//DTD XHTML 1.0 Transitional //EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
</head>
<body>
	{% if result %}
	<div>
       <span class="label-title">用户名:</span><strong>result.Username</strong>
   </div>
   <form id="my-info-form" method="post" enctype="multipart/form-data" action="change-my-info">
       <div class="avatar-box">
           <span class="label-title">我的头像:</span>
           <div class="my-avatar"><img src="/static/images/avatar.png"></div>
           <div class="change-avatar">修改头像
                <input type="file" id="avatar-input" name="avatar-input"></input>
                <div class="label-desc">图片格式:GIF\JPG\JPEG\PNG,最佳尺寸100*100像素</div>
           </div>  
       </div>
       <div class="input-box">
           <span class="label-title">手机:</span>
           <input type="text" id="phone-input" name="phone-input"></input>
       </div>
       <div class="input-box">
           <span class="label-title">邮箱:</span>
           <input type="text" id="email-input" name="email-input"></input>
       </div>
       <div class="input-box">
           <span class="label-title">QQ:</span>
           <input type="text" id="qq-input" name="qq-input"></input>
       </div>
       <div class="input-box">
           <span class="label-title">身份:</span>
            <input id="status" class="status-radio" type="radio" name="is-student" value="1" checked>学生
            </input>
            <input id="status" class="status-radio" type="radio" name="is-student" value="0">其他
            </input>
       </div>
       <div class="type-title">补充资料</div>
       <div class="input-box">
           <span class="label-title">真实姓名:</span>
           <input type="text" id="truename-input" name="truename-input"></input>
       </div>
        <label id="btn" class="btn">
            <input id="submit_btn" class="btns" type="button" style="width:110px;height:34px;" checked="checked" value="提交修改"></input>
        </label>
   </form>
   {% else %}
   {% endif %}
</body>
</html>