<!DOCTYPE html PUBLIC "-//WSC//DTD XHTML 1.0 Transitional //EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <title>发布闲置-尚书林</title>
    <link rel="shortcut icon" href="/static/images/ssl-icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/pub_1.css">
    <script language="javascript"  src="/static/scripts/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/scripts/validate.js"></script>
    <script language="javascript"  src="/static/scripts/pub_1.js"></script>
</head>
<body>
    <div class="header">
        <a href="/" id="logo">
            <img src="/static/images/logo.gif" alt="尚书林">
        </a>
        <div class="header-title">发布闲置</div>
        <div class="return-home">
            <a href="/">返回首页</a>
        </div>
    </div>
    <div class="follow-steps">
        <ol>
            <li class="step1">
                <i>1</i>
                <strong>选择类别</strong>
                <span></span>
                <em class="f1"></em>
            </li>
            <li class="step2 active">
                <i>2</i>
                <strong>填写信息</strong>
                <span></span>
            </li>
            <li class="step3">
                <i>3</i>
                <strong>发布成功</strong>
            </li>
        </ol>
    </div>
    <div class="input-box">
        <form id="publishForm" action="/publish-item/" method="post">
            <div id="form-bd">
                <div class="control-group ">
                    <label class="control-label" for="title">
                        <strong>标题</strong>
                    </label>
                    <div class="controls">
                        <div class="input-wrap">
                            <input id="title" class="input title" type="text" value="" name="title">
                        </div>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">
                        <strong>新旧</strong>
                    </label>
                    <div class="controls">
                        <div class="btn-group">
                            <button class="J_RadioBtn btn active" type="button" value="0">非全新
                            </button>
                            <button class="J_RadioBtn btn" type="button" value="1">全新
                            </button>
                            <input type="hidden" value="1" name="feature" id="feature"></input>
                        </div>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label" for="price">
                        <strong>价格</strong>
                    </label>
                    <div class="controls">
                        <div class="input-wrap">
                            <input id="price" class="input J_PriceCheck" type="text" value="" name="price"></input>
                            <span>元
                            </span>
                        </div>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label" for="price">
                        <strong>原价</strong>
                    </label>
                    <div class="controls">
                        <div class="input-wrap">
                            <input id="original-price" class="input J_PriceCheck" type="text" value="" name="price"></input>
                            <span>元
                            </span>
                        </div>
                    </div>
                </div>
                <div class="control-group normal">
                    <label class="control-label" for="mobile">
                        <strong>联系方式</strong>
                    </label>
                    <div class="controls">
                        <div class="input-prepend">
                            <label class="add-on" for="name">手机号：
                            </label>
                            <input id="mobile" class="input" type="text" value="1520151" name="mobile"></input>
                        </div>
                    </div>
                </div>
                <div class="control-group name-wrap ">
                    <div class="controls">
                        <div class="input-prepend">
                            <label class="add-on" for="name">姓名：
                            </label>
                            <input id="name" class="input" type="text" value="刘先生/女士" name="name"></input>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pic">
                        <strong>
                            宝贝图片
                        </strong>
                    </label>
                    <div class="controls">
                        <div id="J_UploadPic" class="upload">
                            <div class="upload-inner">
                                <b></b>
                                <ul class="operate"></ul>
                            </div>
                        </div>
                        <span class="upload-tip">
                            最多可上传十张照片，图片每张最大5M
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <button class="btn-publish" type="submit" name="submit_btn">立刻发布</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>