<!DOCTYPE html PUBLIC "-//WSC//DTD XHTML 1.0 Transitional //EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <title>发布闲置-跳蚤园</title>
    <link rel="shortcut icon" href="/static/images/ssl-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/pub_2.css">
    <script language="javascript"  src="/static/scripts/jquery-1.11.2.min.js" type="text/javascript"></script>
     <script src="/static/scripts/jquery.alerts.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/toastr/toastr.min.css">
    <script type="text/javascript" src="/static/toastr/toastr.min.js"></script>
    <script src="/static/scripts/ajaxfileupload.js" type="text/javascript"></script>
</head>
<body>
    <div class="header">
        <a href="/" id="logo">
            <img src="/static/images/logo.jpg" alt="尚书林">
        </a>
        <div class="header-title">发布闲置</div>
        <div class="return-home">
            <a href="/">返回首页</a>
        </div>
    </div>
    <div class="follow-steps">
        <ol>
            <li class="step1">
                <i>1</i>
                <a href="/publish-item/"><strong>选择类别</strong></a>
                <span></span>
                <em class="f1"></em>
            </li>
            <li class="step2">
                <i>2</i>
                <strong>填写信息</strong>
                <span></span>
            </li>
            <li class="step3 active">
                <i>3</i>
                <strong>发布成功</strong>
            </li>
        </ol>
    </div>
    <div class="content">
        <ul>
            {% if type %}
            <li><div class="return-pub-type"><p><a href="/publish/pub/?type={{type}}">再次发布同类物品</a></p></div></li>
            {% endif %}
            <li><div class="return-pub"><p><a href="/publish/">再次发布</a></p></div></li>
            <li><div class="turn-home"><p><a href="/">回到首页</a></p></div></li>
         </ul>
    </div>
</body>
</html>