@charset "utf-8";
body,dd,dl,dt,h2,h3,h4,li,ol,p,ul{
    margin:0;
    padding:0;
    list-style:none;
}

body{
    font:12px/1.2 arial,Tahoma,SimSun,sans-serif;
    color:#333;
    min-width:1190px;
    text-rendering:geometricPrecision
}

div{
    display: block;
}

a{
    color:#000;
    text-decoration:none;
    cursor:pointer
}

a:hover{
    color:red;
    text-decoration:underline
}:focus{
    outline:0
}

.arrow{
    background-image:url(http://img.58cdn.com.cn/ui6/index/topbar.png?v=20120302)!important
}

#topbar{
    width:100%;
    height:27px;
    background:#f5f5f5;
    color:#666;
    font:12px/2 Arial,Tahoma,"宋体";
    border-bottom:1px solid #ddd;
    line-height: 27px;
}

#topbar .w,#topbar .warp{
    clear:both;
    line-height:27px;
    width:1190px;
    margin:0 auto;
}

#topbar .w{
    background:#f5f5f5;
    height:27px;
    border-bottom:1px solid #ddd;
    position:relative;
}

.pos{
    position:relative;
}

#topbar input,#topbar p,#topbar ul{
    margin:0;
    padding:0
}

#topbar li{
    list-style:none
}

#topbar a{
    text-decoration:none
}

#topbar a:hover{
    text-decoration:underline
}.hc{
    display:none
}.sc{
    display:block
}
#topbar input{
    font-family:Tahoma;
    font-size:12px
}

#myfeet p a,#sitemapBox strong a,#topbar .mapfuc a{
    color:#00c
}

#topbar a:hover{
    color:red
}

.bar_left{
    float:left;
    word-spacing:1px;
    padding-left:10px;
    height:27px
}

.bar_right{
    float:right;
    position: absolute;
    top: 0px;
    right: 0px;
}

.bar_left h2{
    display:inline;
    font-weight:500;
    font-size:14px;
    color:red;
    float:left
}

.bar_left .tuan{
    display:inline-block;
    position:relative;
    padding-right:30px
}

.weather{
    float:left;
    margin-left:15px;
    position:relative;
    word-spacing:0
}

.wt img{
    margin:0 8px 0 0;
    width:19px;
    height:21px;
    vertical-align:middle
}
.wt em{
    _zoom:1;
    font-style:normal
}

.wt .wTemp{
    position:relative;
    top:1px
}

.today_lv{
    margin:0 0 0 10px;
    background:url(http://img.58cdn.com.cn/ui6/index/indexbg.png) no-repeat;
    padding:0 3px;
    display:inline-block;
    _display:inline;
    _zoom:1;
    line-height:16px;
    color:#fff
}

.today_lv_1{
    background-position:0 -442px
}

.today_lv_0{
    background-position:-56px -442px
}

.wb{
    border:1px solid #e4e1e1;
    position:absolute;
    left:0;
    top:27px;
    background:#fff;
    width:470px;
    line-height:20px;
    display:none
}

#topbar .haschild{
    float:left
}

#login{
    line-height: 27px;
    padding: 0px 8px;
    position: relative;
    float: left;
}

#login_success{
    line-height: 27px;
    padding: 0px 8px;
    position: relative;
    float: left;
}

.login_name{
    color: #e54;
}

.gap{
    color: #CCC;
    margin: 0px 6px;
    font-family: "宋体";
}

#my_menu{
    float: left;
    height:27px;
    line-height:27px;
    width: 73px;
}

#to_my_menu{
    float: left;
    margin-right: 5px;
}

#my_menu .arrow{
    background: url() no-repeat 0 -156px;
    position: relative;
    float: left;
    width: 7px;
    height: 4px;
    overflow: hidden;
    top: 12px;
    left: 0px;
    margin-right: 10px;
}

#my_menu_box{
    position: relative;
    width: 73px;
    padding: 0 2px;
    float: left;
    z-index: 2;
    display: none;
    border: 1px solid #ddd;
    background-color: #fff;
}

#my_menu_box a{
    float: left;
    width: 100%;
    white-space: nowrap;
}

.hover .hc{
    display:block;
    position:absolute;
    top:28px;zoom:1;
    border:1px solid #dcdcdc;
    border-top:0;
    background:#fff;
    padding:10px
}

#topbar .haschild{
    height:27px;
    line-height:27px;
    position:relative;
}

#topbar .hover{
    background:#fff;
    border-left:solid 1px #dcdadc;
    border-right:solid 1px #dcdadc;
    margin:0 -1px
}

#topbar .hover .arrow{
    background-position:-7px -156px
}

.brandad1190{ 
    height:50px; 
    margin:0 auto 10px; 
    overflow:hidden; 
    width:1190px; 
    position:relative;
}
        
.brandad1190 .brandad990 li{ 
    height:50px;
}

.brandad1190 img{ 
    width:1190px; 
    height:50px;
}

.brandad990{ 
    height:50px; 
    margin:0 auto 10px; 
    overflow:hidden; 
    width:990px; 
    position:relative;
}

.brandad990 img{
    width:990px; 
    height:50px;
}

#navlist{
    float:left;
    margin-left:30px
}

#navlist ul li .gap{
    margin:0;float:left
}

#navlist ul{
    color:#585858
}

#navlist ul li{
    float:left;
    height:27px;
    line-height:27px
}

#navlist ul li a{
    color:#585858;
    padding:0 10px;
    float:left;
    position:relative
}

#navlist ul li a:hover{
    color:red
}

#navlist li i.phone{
    width:9px;
    height:13px;
    background:url(http://img.58cdn.com.cn/ui6/index/indexbg.png) no-repeat -26px -34px;
    display:inline-block;
    margin-right:5px;
    float:left;
    margin-top:7px
}

#navlist li a i{
    width:11px;
    height:11px;
    background:url(http://img.58cdn.com.cn/ui6/index/indexbg.png) no-repeat;
    display:inline-block
}

#navlist li a i.n{
    position:absolute;
    background-position:-66px -34px;right:-2px;top:0
}

#header{
    background:#fff;
    position:relative;
    width:100%;
    top:5;
    height:65px;
    overflow:hidden;
    z-index: 1;
}

#headerinside{
    height:70px;
    position:relative;
    margin-top:5px
}

#footer,#headerinside,.morelink{
    background:#fff;
    width:1190px;
    margin:0 auto;
    clear:both
}

#logo{
    position:absolute;
    left:0;
    top:10px
}

#searchbar{
    position:absolute;
    left:507px;
    top:11px;
    line-height:26px;
    overflow:hidden;
    margin-top: 8px;
}

#searchbar i{
    font-style:normal
}

#searkey{
    background:#fff;
    height:30px;
    padding-left:13px;
    float:left;
    overflow:hidden;
    border:2px solid #F78015;
    border-right:0
}

#key{
    background:#fff;
    height:30px;
    line-height:34px;
    float:left
}

#keyword{
    background:0 0;
    width:450px;
    height:22px;
    font-size:14px;
    line-height:22px;
    padding:4px 2px 4px 0;
    border:0;
    float:left;
    display:inline-block;
    overflow:hidden
}

.keyword{
    color:#c8c8c8
}

#keyword.keyword2{
    background-position:0 50px;
    color:#292929
}

.inputcon{
    float:left;
    height:34px;
    overflow:hidden;
}

.inputcon input:active{
    background:#eb6d13
}

input.btnal2,input.btnall{
    -webkit-appearance:none;
    -webkit-border-radius:0;
    height:34px;
    line-height:34px;
    font-size:14px;
    font-weight:700;
    border:0;
    cursor:pointer;
    overflow:hidden;
    text-align:center;
    color:#fff;
    float:left;
    margin:0;
    padding:0 20px;
    +padding:0 10px
}

input.btnall{
    background:#f78015
}

input.btnal2{
    background:#eb6d13
}

.search-fix .search-no{
    display:none;
    visibility:hidden;
}

#hot,.hot2{
    float:left
}

#hot a,.hot2 a{
    margin-right:10px;
    color:#666;
    float:left
}
#hot a{
    display:none
}

.hot3{
    float:left
}

.hot3 a{
    margin-right:10px;
    color:#666;
    float:left
} 

#fabu{
    position:absolute;
    right:0px;
    top:11px;
    font-weight:700;
    width:107px;
    padding-left:41px;
    height:32px;
    line-height:32px;
    border:1px solid #ffb38c;
    font-size:14px;
    color:#e50;
    text-align:left;
    cursor:pointer;
    background-position:0 -373px;
}

a:hover #fabu{
    background-position:0 -406px;
    text-decoration:none
}

#fabu i{
    width:15px;
    height:15px;
    position:absolute;
    top:9px;left:20px;
    background-position:0 -34px;
    display:inline-block;
    overflow:hidden
}

#delinfo{
    position:absolute;
    top:52px;
    right:30px;
    color:#666;
}

.hShadow{
    position:fixed; 
    top:65px;
    width:100%;
    font-size:0;
    line-height:0;
    height:6px;
    overflow:hidden;
    background-color: #fff;
    display:none;
}

.search-fix .hShadow{
    display:block
}

.navcon{
    width:1190px;
    height:38px;
    display:block;
    position:relative;
    margin:0 auto;
    margin-top: 8px;
    background:url(http://img.58cdn.com.cn/ui6/index/indexbg.png) repeat-x 0 -153px;
}

.nav{
    border:1px 
    solid #dbdbdd;
    border-width:0 1px;
    height:35px;
    line-height:35px;
    padding-left:8px;
}

.nav li{
    float:left;
    margin:0 1px;
    padding-top:1px;
    height:34px;
    line-height:34px;
    display:inline;
    position:relative
}

.nav li a{
    color:#000;
    padding:0 10px;
    display:block;
    font-size:14px
}

.nav li.on{
    background:#ed7612;
    border:1px solid #d50;
    border-bottom:0
}

.nav li.on a{
    color:#fff;
    font-weight:700
}

.cb{
    border:1px solid #dadbdf;
    border-top:0;
    width:1188px;
    margin:0 auto;
    clear:both;
    overflow:hidden;
    position:relative
}

#page{
    width: 100%;
    margin:auto;
}

#content{
    width: 1190px;
    margin: 0 auto;
}

.lbsear {
    position: relative;
    float: left;
    display: inline;
    width: 188px;
    border: 1px solid #f9b38c;
    background: #fff9f2;
    margin-right: 6px;
    margin-top: 0px;
    padding: 10px 0;
    height: 242px;
}

.lbsear h2 {
    padding: 0 0 0 15px;
    margin-bottom: 6px;
    font: 700 16px/22px Arail;
    color: #333;
    border-left: 3px solid #e50;
}

.ym-tab {
    background: url(http://pic2.58.com/ui7/ershou/index/i_arr_orange.png) no-repeat 170px 11px;
    float: left;
    width: 188px;
    clear: left;
    height: 30px;
    line-height: 30px;
    text-indent: 78px;
    color: #00c;
    border-top: none;
}

.ym-tab .dlb {
    font-size: 15px;
    color: #dcdde0;
}

.ym-tab .dlb a, .current .dlb a {
    font-size: 14px;
    color: #585858;
}

.first-glance{
    margin-left:200px;
    overflow:hidden;
}

.index-slider{
    margin:0;
    width: 640px;
    height: 264px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
}

.col{
    float: left;
    display: inline;
    zoom:1;
}

.slider-list{
    width: 640px; 
    overflow: hidden; 
    height: 274px;
}

.slider-list .item{
    float: left; 
    overflow: hidden; 
    width: 640px; 
    display: block;
}

.tab-nav{
    width: 640px;
    height: 20px;
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.tab-nav ul{
    list-style-type: none;
    position: absolute;
    height: 20px;
    background-color: #000;
    opacity: 0.8;
    padding: 0px;
    margin-top: 2px;
}

.tab-nav li{
    float: left;
    display: block;
    padding: 0 8px;
    border: #efeaff 1px solid;
    background: #6f4f67;
    cursor: pointer;
    margin-bottom: 0px;
}

.tab-nav li.selected{
   background-color: #900;
}

.tab-nav li a{
    color: #efeaff;
}

.idle-start{
    margin-left: 10px;
    width: 318px;
    position: relative;
    height: 265px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    text-align: center;
}

.col{
    float: left;
    display: inline;
    zoom:1;
}

.extend{
    height: 70px;
    background-color: #fff;
}

.idle-start .extend .mod{
    float: left;
    width: 144px;
    height: 70px;
    margin-left: 10px;
}

.idle-start .extend .mod a{
    display: block;
    padding: 5px 0;
    border:1px solid #f4a38c;
    margin-left: 9px;
    margin-top: 6px;
    text-align: center;
    background-color: #fff;
}

.idle-start .extend .mod a:hover{
    text-decoration: underline #888;
}

.idle-start .extend .mod a .main-title{
    display: inline-block;
    padding:0 15px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #444;
}

.idle-start .extend .mod a .subtitle {
    display: block;
    color: #999;
}

.on-selling{
    width: 278px;
    height: 195px;
    margin-left: 20px;
}

.on-selling h3 {
    text-align: left;
    display: block;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    font-weight: 500;
    padding-left: 8px;
    margin: 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.on-selling li {
    zoom: 1;
    padding-bottom: 6px;
    height: 75px;
    position: relative;
}

.on-selling .item-pic{
    width: 75px;
    height: 75px;
    float: left;
}

.sh-pic{
    display: table;
    text-align: center;
    table-layout: fixed;
}

.sh-pic a{
    display: table-cell;
    vertical-align: middle;
}

.on-selling .item-pic img{
    max-height: 75px;
    max-width: 75px;
}

.on-selling .info{
    float: left;
    margin-left: 12px;
}

h5{
    display: block;
    text-align: left;
    font-weight: bold;
    margin:0px;
    padding: 0px;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 100%;
}

.on-selling .desc{
    width: 187px;
    height:35px;
    overflow: hidden;
    margin:0;
    padding: 0;
    display: block;
    text-align: left;
}

.on-selling .desc a{
    color: #333;
    text-decoration:none;
    cursor: auto;
}

.price-block {
    font-family: Verdana;
    font-size: 12px;
    text-align: right;
    float: right;
    display: block;
    padding-top: 5px;
    padding-right: 14px;
}

.price-block b{
    font-weight: 400;
    font-family: Arial,Verdana;
    color: #555;
}

.price-block .price em {
    font-weight: 700;
    font-size: 14px;
    color: #f40;
}

.price-block .old_price{
    padding-left: 2px;
    font-size: 10px;
    padding-top: 5px;
}

.item_num{
    float: right;
    font-size: 12px;
    text-align: right;
    font-family: 'Microsoft Yahei';
    padding-top: 18px;
    padding-right: 5px;
}

.remain_num{
    
}

.ad_hq,.ad_sj{
    display:none
}

.mbox{
    position:absolute;
    top:35px;
    text-align:center;
    background:#fff;
    border:1px solid #d1d1d1;
    padding:5px 0
}

.mbox ul{
    overflow:hidden
}

.mbox ul li{
    width:192px;
    float:left;
    border-left:1px dashed #e5e5e5;
    margin:0;
    position:relative;
    left:-1px;
    hei
    ght:181px
}

.search-fix #logo img{
    width:150px;
    height:40px;
    margin-top:-4px
}

.search-fix #searchbar{
    left:315px
}

.rightside{
    position:absolute;
    right:20px;top:0
}

.rightside li{
    height:35px;
    line-height:35px;
    display:inline;
    float:left;
    margin:0 10px 0 2px;
    position:relative
}

.rightside li a{
    font-size:12px;
    color:#585858;
    display:inline-block
}

.rightside li a:hover{
    color:#f05502;
    text-decoration:none
}

.rightside li i.phone{
    width:9px;
    height:13px;
    background:url(http://img.58cdn.com.cn/ui6/index/indexbg.png) no-repeat -26px -34px;
    display:inline-block;
    margin-right:5px;
    position:relative;
    top:2px;
    left:0
}

.rightside li a.on{
    color:#f05502
}

.item_group_first{
    width: 100%;
    height: 232px;
    margin-top: 10px;
}

.item_group_first .person-info{
    width: 188px;
    height: 222px;
    float: left;
    display: inline;
    zoom:1;
    padding-bottom: 0px;
    padding-top: 10px;
}

.item_group_first .person-info .avatar {
    float: left;
    width: 60px;
    height: 60px;
    border: 6px solid #ebebeb;
    border-radius: 50%;
    overflow: hidden;
}

.item_group_first .person-info .foreword {
    width: 100px;
    float: left;;
    margin-left: 8px;
    display: block;
    font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}

.item_group_first .person-info .foreword strong{
    font-size: 14px;
}

.item_group_first .person-info .tag-cloud {
    width: 180px;
    float: left;
    margin-top: -20px;
    white-space: nowrap;
    height: 164px;
    overflow: hidden;
}

.item_group_first .person-info .tag-cloud .placeholder {
    background: 0 0;
    border: 0;
    width: 50px;
    height: 9px;
    float: left;
    margin: 0 14px 15px 0;
    padding: 6px 7px;
    line-height: 12px;
    color: #888;
}

.item_group_first .person-info .tag-cloud a{
    float: left;
    border: 1px solid #fff;
    background-color: #f7f7f7;
    margin: 0 10px 12px 0;
    padding: 6px 7px;
    line-height: 12px;
    color: #888;
}

.good-items{
    width: 1000px;
    height: 320px;
    float: left;
}

.good-items-body{
    width: 980px;
    height: 260px;
    float: left;
    padding: 12px 5px 8px 5px;
    margin-left: 15px;
    margin-right: 10px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.good-items-body .good-item-list{
    float: left;
    margin-bottom: 5px;
    position: relative;
}

.good-items-body .good-item-list .change{
    position: absolute;
    right: 15px;
    top: -38px;
    color: #84878c;
    cursor: pointer;
    font-size: 14px;
}

.good-items-body .good-item-list .change a{
    color: #000;
}

.good-item-list ul{
    height: 150px;
    width: 980px;
}

.item-list li{
    margin-right: 10px;
    width: 156px;
    float: left;
    position: relative;
    padding-bottom: 5px;
    text-align: center;
    overflow: hidden;
}

.item-list .item-pic{
    position: relative;
    background-color: #fff;
    width: 150px;
    height: 200px;
    overflow: hidden;
    float: left;
    z-index: 1;
}

.item-list .item-pic img{
    position: relative;
    width: 150px;
    height: 200px;
    z-index: 1;
}

.item-list .item-pic .pic_action_box{
    width: 130px;
    z-index: 3;
    top:-50px;
    left: 0px;
    position: relative;
    display: none;
}

.item-list .item-pic .pic_action_box img{
    width: 60px;
    height: 40px;
    padding-top: 0 3px;
}

.item-list .item-title{
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
}

.item-list .item a{
    color: #000;
}

.ssl_items_list {
    width: 100%;
    height:800px;
    float: left;
    margin-top: 0px;
}

.ssl-items{
    width: 100%;
    height: 510px;   
}

.items_head{
    height: 22px;
    padding: 8px 0; 
    margin-left: 15px;
    font-weight: bold;    
}

.items_head h2 {
    font-size: 22px;
    font-family: "Microsoft Yahei";
    line-height: 22px;
    padding-left: 10px;
    font-weight: 500;
    border-left: 3px solid #A8D200;
    text-align: left;
}

.items_body{
    width: 100%;
    overflow: hidden;;
    float: left;
    margin-left: 10px;
    border-top: 1px solid #E6E6E6;
    padding-top: 5px;
}

.items_body .bd-left-mod{
    float: left;
    width: 190px;
    height: 430px;
    display: inline;
}

.items_body .bd-middle-mod{
    width: 980px;
    margin: 0;
    margin-left: 10px;
    height: 480px;
    overflow: hidden;
    float: left;
    display: inline;
    position: relative;
    background-color: #eee;
}

.items_body .bd-left-mod .tag{
    word-break: keep-all;
    height: 208px;
    margin: 15px 0px;
    overflow: hidden;
}

.items_body .bd-left-mod .tag a {
    margin: 0px 15px 0px 0px;
    line-height: 28px;
    word-wrap: break-word;
    white-space: nowrap;
    color: #333;
}

.items_body .bd-left-mod .banner a{
    display: block;
    height: 190px;
    width: 190px;
}
