@charset "utf-8";

body{
	font: 12px/1.2 Arial,Tahoma,"宋体",sans-serif;
	color: #333;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

div{
	display: block;
}

a{
	text-decoration: none;
}

.header{
	width: 1000px;
	height: 79px;
	border-bottom: 1px solid #DBE0E3;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

.content{
	margin-bottom: 40px;
}

.footer{
	float: left;
	margin: 0px auto;
	clear: both;
	overflow: hidden;
	background: none repeat scroll 0% 0% #FFF;
	border-top: 1px solid #DBE0E3;
}

#logo{
	left: 20px;
	top: 17px;
	position: absolute;
}

.header-title{
	float: left;
	height: 39px;
	border-left: 1px solid #EAEAEA;
	margin-left: 240px;
	margin-top: 25px;
	padding-left: 15px;
	font: 24px/1.8 "微软雅黑","黑体",sans-serif;
	color: #666;
}

.return-home{
	float: right;
	right: 10px;
	margin-top: 54px;
}

.return-home a{
	margin: 0px 14px;
	color: #666;
}

.content-left{
	width: 500px;
	height: 500px;
	background: url("/static/images/login_abc.png") no-repeat;
	vertical-align: center;
	float: left;
	margin: 50px 100px 50px 250px;
}

.content-right{
	width: 320px;
	height: 500px;
	float: left;
}

.login-box{
	float: left;
	background-color: #FFF;
	width: 285px;
	height: 300px;
	z-index: 1;
	border-width: 2px;
	border-style: solid;
	border-color: #FF4200 #DEDEDE #DEDEDE;
	margin-top:40px;
	margin-right: 200px;
}

.login-box .login-hd{
	height: 16px;
	margin: 0px 20px;
	padding-top: 20px;
	position: relative;
	z-index: 1;
}

.login-box .login-hd h2{
	display: block;
	font-size: 14px;
	padding-left: 10px;
	color: #333;
	z-index: 1;
}

.login-box .login-bd{
	position: relative;
	z-index: 2;
	margin: 0px 30px;
}

.login-box .field {
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}

.login-box .field label {
    display: block;
    width: 27px;
    height: 27px;
    line-height: 27px;
    color: #FFF;
    text-align: center;
    background: url('/static/images/icon-label2.png') no-repeat scroll 50% 7px #CCC;
    position: absolute;
	left: 0px;
}

.field .placeholder{
	height: 27px;
	line-height: 27px;
	left: 30px;
	position: absolute;
	padding: 0px 0px 0px 6px;
	color: #999;
	display: none;
}

.login-bd .username-field {
	margin-top: 20px;
    padding-top: 32px;
}

.login-text{
	width: 200px;
	height: 19px;
	line-height: 19px;
	padding: 3px 3px 3px 30px;
	vertical-align: middle;
	border: 1px solid #DEDEDE;
}

.login-box .pwd-field{
	margin-top: 10px;
}

.login-box .pwd-field label {
    background-position: 50% -30px;
}

.forget-pwd{
	float: right;
	position: relative;
	padding: 15px 0px 10px;
	line-height: 26px;
	min-height: 26px;
}

.forget-pwd a{
	color: #6D6D6D;
	margin-left: 30px;
}

.login-box .submit{
	padding: 5px 0px 0px;
	overflow: hidden;
	clear: both;
}

.login-box .submit button{
	width: 230px;
	height: 38px;
	margin-left: 2px;
	border: 0px none;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	line-height: 36px;
	font-size: 16px;
	font-weight: 700;
	color: #FFF;
	background: none repeat scroll 0% 0% #FF4700;
	border-radius: 3px;
	cursor: pointer;
}

.errors{
	width: 300px;
	background: url('https://passport.58.com/pic2/ui6/my/images/verification-ui6.gif') no-repeat scroll 0px -190px transparent;
	display: block;
	margin: auto;
	padding: 3px 3px;
	margin-top: 10px;
}

.errors ul{
	list-style: none;
	margin-left: 30px;
}

.errors ul li{
	font-size: 15px;
	color: #000;
	display: block;
}