@charset "utf-8";

body{
	font: 12px/1.2 Arial,Tahoma,"宋体",sans-serif;
	color: #333;
	margin: 0px;
	padding: 0px;
}

div{
	display: block;
}

a{
	text-decoration: none;
}

.header{
	width: 1000px;
	height: 79px;
	border-bottom: 1px solid #DBE0E3;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

.content{
	margin-bottom: 40px;
}

.footer{
	float: left;
	margin: 0px auto;
	clear: both;
	overflow: hidden;
	background: none repeat scroll 0% 0% #FFF;
	border-top: 1px solid #DBE0E3;
}

#logo{
	left: 20px;
	top: 17px;
	position: absolute;
}

.header-title{
	float: left;
	height: 39px;
	border-left: 1px solid #EAEAEA;
	margin-left: 240px;
	margin-top: 25px;
	padding-left: 15px;
	font: 24px/1.8 "微软雅黑","黑体",sans-serif;
	color: #666;
}

.steps{
	float: left;
}

.steps ol{
	width: 500px;
	list-style: none;
	float: left;
	margin-left: 0px;
	margin-top: 40px;
}

.steps ol li{
	width: 140px;
	padding-left: 10px;
	padding-bottom: 11px;
	display: inline;
	float: left;
	height: 26px;
	font-size: 14px;
}

.steps ol li.active{
	color: #3e3e3e;
	border-bottom: 2px solid #ff4700;
}

.steps ol li i{
	display: inline-block;
	zoom: 1;
	margin-right: 5px;
	width: 24px;
	height: 24px;
	text-align: center;
	font-style: normal;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background: url(/static/images/ico-circle2.png) no-repeat 0 0;
}

.steps ol li.active i{
	background: url(/static/images/ico-circle1.png) no-repeat 0 0;
}
.return-home{
	float: right;
	right: 10px;
	margin-top: 54px;
}

.return-home a{
	margin: 0px 14px;
	color: #666;
}

.regform-body{
	width: 678px;
	font-size: 14px;
	min-height: 400px;
	height: 800px;
	margin:0 auto;
	margin-top: 46px;
}

.regMenu{
	width: 678px;
	border-bottom: 1px solid #CDCFD1;
	height: 37px;
	font-size: 14px;
	position: relative;
}

.regMenu span{
	display: inline-block;
	line-height: 35px;
	padding: 0px 5px;
	font-weight: bold;
}

.regMenu span a{
	display: block;
	margin: 0px 60px 0px 0px;
	color: #888;
	outline: medium none;
	position: relative;
	top: 1px;
	width: 60px;
	text-decoration: none;
	padding-left: 30px;
}

.regMenu span.active{
	background: none repeat scroll 0% 0% #FFF;
	color: #000;
	border-bottom: 2px solid #f22;
}

#loginTab{
	position: absolute;
	right: 5px;
	bottom: 5px;
	display: inline;
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
}

#loginTab a{
	color: #00C;
	display: inline;
	margin: 0px;
	outline: medium none;
	position: static;
	text-decoration: none;
	width: auto;
}

.regWrap{
	padding-left: 52px;
}

.regWrap p{
	height: 35px;
	padding: 10px 0px;
	line-height: 30px;
}

.regtlx{
	width: 84px;
	float: left;
	display: block;
	color: #666;
}

.regWrap input {
	vertical-align: middle;
}

.inw{
	width: 228px;
}

.inp{
	height: 33px;
	border: 1px solid #C8C8C8;
	line-height: 2;
	margin-right: 3px;
	padding: 0px 3px;
}

.submit_btn{
	display: inline;
	height: 35px;
}

.btns{
	padding: 6px 20px 7px;
	display: block;
	background: url('https://passport.58.com/pic2/ui6/my/images/reg-btn.gif') no-repeat scroll 0% 0% transparent;
	border: medium none;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin: 0px;
	margin-left: 25px;
}

#loginOpt{
	float: left;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	bottom: 18px;
	margin-left: 180px;
}

.wrong{
	background: url('https://passport.58.com/pic2/ui6/my/images/verification-ui6.gif') no-repeat scroll 0px -190px transparent;
	width: 247px;
	height: 40px;
	padding-top: 3px;
	display: inline-block;
	vertical-align: top;
	padding-right: 5px;
	font-size: 12px;
	color: #000;
	position: relative;
	padding-left: 40px;
}

.success{
	display: inline-block;
	height: 16px;
	background: url('https://passport.58.com/pic2/ui6/my/images/reg-menu.gif') no-repeat scroll 0px -22px transparent;
	padding-left: 25px;
	vertical-align: middle;
	padding-right: 5px;
}

.action{
	display: inline-block;
	vertical-align: top;
	padding-right: 5px;
	font-size: 12px;
	color: #000;
	position: relative;
	padding-left: 40px;
	width: 247px;
	height: 20px;
	padding: 3px;
	background: url('https://passport.58.com/pic2/ui6/my/images/verification-ui6.gif') no-repeat scroll 0px 0px transparent;
}

.action_label{
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	width: 237px;
	padding: 0px 10px 0px 40px;
	min-height: 10px;
}

.errors{
	width: 500px;
	background: url('https://passport.58.com/pic2/ui6/my/images/verification-ui6.gif') no-repeat scroll 0px -190px transparent;
	display: block;
	margin: auto;
	padding-top: 1px;
}

.errors ul{
	list-style: none;
	margin-left: 40px;
}

.errors ul li{
	font-size: 15px;
	color: #000;
	display: block;
	padding-bottom: 5px;
}

.user-info{
	width: 800px;
	margin:0px auto;
	padding:0px auto;
	margin-top: 15px;
}

.user-info .info-body{
	width: 678px;
	font-size: 14px;
	min-height: 400px;
	height: 800px;
	margin:0 auto;
	margin-top: 30px;
}

.infoWrap{
	padding-left: 102px;
}

.info-block{
	margin-bottom: 25px;
	height: 35px;
}

.info-block .info-title{
	width: 84px;
	height: 25px;
	float: left;
	display: block;
	color: #666;
	/*background-color: #f00;*/
	margin-top: 10px;
	text-align: center;
}

.info-username{
 	margin-left: 40px;
 	font-weight: bold;
 	text-align: left;
 	color: #000;
 	width: 84px;
	height: 25px;
	float: left;
	margin-top: 10px;
}

.infoWrap input {
	vertical-align: middle;
	margin-left: 40px;
}

.status-radio{
	width: 58px;
	height: 33px;
	border: 1px solid #C8C8C8;
	line-height: 2;
	margin-right: 3px;
	padding: 0px 3px;
	display: inline;
}

.infoWrap .info-btns{
	padding: 6px 20px 7px;
	display: block;
	background: url('https://passport.58.com/pic2/ui6/my/images/reg-btn.gif') no-repeat scroll 0% 0% transparent;
	border: medium none;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin: 0px;
	margin-left: 126px;
}

.success-content{
	width: 1000px;
	margin: 0 auto;
	padding: 0 auto;
}

.remind-box{
	margin-top: 35px;
	height: 55px;
	background-color: #85e;
	padding-top: 2px;
}

.remind-box span{
	color: #eee;
	font-size: 18px;
	text-align: center;
}

.success-return{
	text-align: center;
	margin-top: 18px;
}

.success-return a{
	color: #555;
	font-size: 15px;
	text-decoration:underline;
}